<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Frakk</div>
            <div class="description">
                Golden Retriever...
            </div>
        </div>
        <button (click)="buyButtonPressed('dog')" class="ui bottom attached button">Buy</button>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Tom</div>
            <div class="description">
                Tom is a cat...
            </div>
        </div>
        <button (click)="buyButtonPressed('cat')" class="ui bottom attached button">Buy</button>
    </div>
</div>